body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#start-button:hover {
    background-color: darkgreen;
}

canvas {
    display: block;
    margin: 0 auto;
}
